<a href="https://colab.research.google.com/github/shruthika77/placement-python/blob/main/Placement1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#sum of the numbers in the range
n=int(input())
sum=0
for i in range(1,n+1):
  sum+=i
  print(sum,i)
print('enter the sum of the range',sum)

3
1 1
3 2
6 3
enter the sum of the range 6

In [ ]:
input_string = input("Enter a list of values separated by commas: ")
input_list = input_string.split(",")

# Remove leading/trailing whitespaces from each element in the list
input_list = [value.strip() for value in input_list]
print("Input List:", input_list)

Enter a list of values separated by commas: 8,9
Input List: ['8', '9']

In [ ]:
#use this function instead of len()
list1=[1,2,3,4,5]
count=0
for i in list1:
  count+=1
print(count)

5

In [ ]:
#average of number series
a=int(input())
sum=0
count=0
for i in range(a):
  sum+=i
  count+=1
avg=sum/count
print(avg)

5
2.0

In [ ]:
#remove whitespace
n=(input())
s=n.replace(" ","")
s

dhf vuul

'dhfvuul'

In [ ]:
import re
string=input()
pattern = re.compile(r'\s+')
print(re.sub(pattern, '', string))

kjhbgy t7yu   iu
kjhbgyt7yuiu

In [ ]:
#find the duplicates
string=input()
for i in string:
  count=0
  for j in string:
    if (i==j):
       count+=1
if(count>=2):
    print("duplicate")
else:
  print("not duplicate")

abcs
not duplicate

In [ ]:
def bubble_sort(lst):
    n = len(lst)
    for i in range(n - 1):
        for j in range(n - i - 1):
            if lst[j] > lst[j + 1]:
                lst[j], lst[j + 1] = lst[j + 1], lst[j]

my_list = [5, 3, 8, 2, 1]
bubble_sort(my_list)
print("Sorted List:", my_list)

Sorted List: [1, 2, 3, 5, 8]

In [ ]:
def sort_list(lst):
    sorted_list = []
    while lst:
        minimum = lst[0]
        for item in lst:
            if item < minimum:
                minimum = item
        sorted_list.append(minimum)
        lst.remove(minimum)
    return sorted_list

my_list = [5, 3, 8, 2, 1]
sort_list(my_list)

[1, 2, 3, 5, 8]

In [ ]:
n= int(input())
if(n%n==0 and n)

In [ ]:
#fibanocci series
a=0
b=1
n=int(input())
if n==0:
  print(a)
if n==1:
  print(b)
else:
  for i in range (2,n+1):
    c=a+b
    a=b
    b=c
print(c)

6
8