<a href="https://colab.research.google.com/github/shruthika77/placement-python/blob/main/placement4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
  n=int(input())
for i in range(1,n+1):
  for j in range(1,i+1):
    print("*",end=" ")
  print()
  #end=newline or space

5
*
* *
* * *
* * * *
* * * * *

In [ ]:
n= int(input())
for i in range(0,n):
  for j in range(0,n-i):
    print("*",end=" ")
  print()

5
* * * * *
* * * *
* * *
* *
*

In [ ]:
n= int(input())
for i in range(n):
  for j in range(n):
    print("2",end=" ")
  print()

3
2 2 2
2 2 2
2 2 2

In [ ]:
n=int(input())
for i in range(n):
  for j in range(n):
    if(i==0 or i==n-1):
      print("*",end=" ")
    elif(n//2==j):
      print("*",end=" ")
    else:
      print(" ", end=" ")
  print()

7
* * * * * * *
      *
      *
      *
      *
      *
* * * * * * *

In [ ]:
n=int(input())
for i in range(n):
  for j in range(n-2):
    if(j==0 or j==(n-2-1)):
      print("*",end=" ")
    elif(i==0 or i==(n//2)):
      print( "*", end=" ")
    else:
      print(" ",end=" ")
  print()

5
* * *
*   *
* * *
*   *
*   *

In [ ]:
n=int(input())
for i in range(n):
  for j in range(n-2):
    if i==0 and (j==0 or j==(n-2-1)):
      print(" ",end=" ")
    elif(j==0 or j==(n-2-1)):
      print("*",end=" ")
    elif(i==0 or i==(n//2)):
      print( "*", end=" ")
    else:
      print(" ",end=" ")
  print()

7
  * * *
*       *
*       *
* * * * *
*       *
*       *
*       *

In [ ]:
n=int(input())
for i in range(n):
  for j in range(n-2):
    if i==0 and (j==(n-2-1)):
      print(" ",end=" ")
    elif(j==0):
      print("*",end=" ")
    elif(i==0 or i==(n//2)):
      print( "*", end=" ")
    else:
      print(" ",end=" ")
  print()

8

*
*
*
* * * * * *
*
*
*

In [ ]:
n=int(input())
for i in range(n):
  for j in range(n-2):
    if i==0 and (j==0 and j==(n-2-1)):
      print(" ",end=" ")
    elif(j==0):
      print("*",end=" ")
    elif(i==0 or i==(n//2)):
      print( "*", end=" ")
    else:
      print(" ",end=" ")
  print()

8
* * * * * *
*
*
*
* * * * * *
*
*
*

In [ ]:
a = "i love "
b = "mutton briyani"
c = a+b
c

'i love mutton briyani'

In [ ]:
row=int(input())
for i in range(row):
  for j in range(row-2):
    if i==0 or i==row-1 or j==0:
      if(i==0 or i==row-1) and j==0:
        print(" ",end=" ")
      else:
        print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

7
  * * * *
*
*
*
*
*
  * * * *

In [ ]:
row=int(input())
for i in range(row):
  for j in range(row-2):
    if i==0 or i==row-1 or j==0 or j==row-2-1:
      if(i==0 or i==row-1) and j==row-2-1:
        print(" ",end=" ")
      else:
        print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

7
* * * *
*       *
*       *
*       *
*       *
*       *
* * * *

In [ ]:
row=int(input())
for i in range(row):
  for j in range((row-2)):
    if j==0 or i==0 or i==row//2 or i==row-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

5
* * *
*
* * *
*
* * *

In [ ]:
row=int(input())
for i in range(row):
  for j in range(row):
    if(i==row//2):
      print("*",end=" ")
    else:
      print(" ", end=" ")

7
                              * * * * *

In [ ]:
raw=int(input())
temp=1
for i in range(raw):
  print(" "*(raw-1-i),end=" ")
  print("*"*temp)
  temp+=2

3
   *
  ***
 *****

In [ ]:
s=int(input())
for i in range(s):
  for j in range(s-2):
    if i==0 or i==s-1 or i==s//2:
      print("*",end=" ")
    elif(j==0 and i<=s//2) or (j==s-2-1 and i>=s//2):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

7
* * * * *
*
*
* * * * *
        *
        *
* * * * *

In [ ]:
b=int(input())
for i in range(b):
  for j in range(b-2):
    if(i==0):
      print(end=" ")

In [ ]:
a=int(input())
b=int(input())
c=max(a,b)
if(a%c==0 and b%c==)